modules = ["nodejs-20"]

[workflows]
runButton = "Development Server"

[[workflows.workflow]]
name = "Development Server"
author = 37203598
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm install"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"

[nix]
channel = "stable-25_05"
